@model BlogViewModel
@{
    ViewData["Title"] = "Microblog Home";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function (){
            $("#btnLoadMore").on('click', function(){
                var articleCount = $("article").length;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("LoadMore")',
                    data: {
                        filter : $("#filter").val(),
                        startLoad : articleCount
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response){
                        var addedPosts = '';
                        for (var i = 0; i < response.length; i++){
                            var date = new Date(Date.parse(response[i].createdDate));
                            addedPosts += '<article class="m-0 mt-5">'
                                + '<div class="row m-0">'
                                + '<div class="col-2 pe-3 ps-0 mb-3">'
                                + '<div class="h-100 d-flex align-items-center justify-content-center">'
                                + '<span class="text-white-50">'
                                + date.toLocaleDateString('en-US') + '</span></div></div>'
                                + '<h2 class="col-10 fw-bold ps-0 mb-3">'
                                + '<a class="link-custom" href="/post/' + response[i].id + '"/>' + response[i].title
                                + '</a></h2></div>'
                                + '<div class="row justify-content-end m-0">'
                                + '<div class="col-10 blogPreview rounded-2 m-0 px-3 pt-3">'
                                + response[i].content + '</div></div></article>'
                        }
                        $(addedPosts).insertBefore("#testload")
                    },
                    error: function(){
                        alert('Error')
                    }
                })
                //Disable load more if laoding last page
                if (articleCount + parseInt(@ViewBag.pageSize) >= parseInt(@ViewBag.ArticleCount)) {
                    $("#btnLoadMore").prop('disabled', true);
                    $("#btnLoadMore").html('You have reached the end');
                }
            })
        })
    </script>
}

@if (TempData.Keys.Contains("message"))
{
    <div class="row justify-content-center">
        <h4 class="bg-success m-0 p-3 text-center">@TempData["message"]</h4>
    </div>
}

<input type="hidden" id="filter" value="@(this.ViewContext.RouteData.Values["FilterCategory"] ?? "all")" />

@foreach (var post in Model.Posts)
{
    //Any html/css changes made here must also be made on the ajax call
    <article class="m-0 mb-5">
        <div class="row m-0">
            <div class="col-2 pe-3 ps-0 mb-3">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <span class="text-white-50">@post.CreatedDate.ToShortDateString()</span>
                </div>
            </div>
            <h2 class="col-10 fw-bold ps-0 mb-3"><a class="link-custom" asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">@post.Title</a></h2>
        </div>
        <div class="row justify-content-end m-0">
            <div class="col-10 blogPreview rounded-2 m-0 px-3 pt-3">
                @Html.Raw(Markdig.Markdown.ToHtml(post.Content ?? "Error reading post content: View"))
            </div>
        </div>
    </article>
}
<span id="testload"></span>
<button id="btnLoadMore">Load More</button>
