@model BlogViewModel
@{
    ViewData["Title"] = "Microblog Home";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function (){
            $("#btnLoadMore").on('click', function(){
                var articleCount = $("article").length;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("LoadMore")',
                    data: {
                        filter : $("#filter").val(),
                        startLoad : articleCount
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response){
                        var addedPosts = '';
                        for (var i = 0; i < response.length; i++){
                            var date = new Date(Date.parse(response[i].createdDate));
                            addedPosts += '<article class="border p-3 m-0">'
                                + '<div class="row justify-content-center">'
                                + '<h2 class="text-center fw-bold" > <a href="/post/' + response[i].id + '/">' + response[i].title + '</a></h2></div>'
                                + '<div class="row justify-content-center"><span class="text-center fw-lighter text-muted">'
                                + date.toLocaleDateString('en-US') + ' || '
                                + '<a href="/' + response[i].category.name + '/">' + response[i].category.name + '</a></span></div>'
                                + '<div class="justify-content-center">' + response[i].content + '</div>'
                                + '</article>'
                        }
                        $(addedPosts).insertBefore("#testload")
                    },
                    error: function(){
                        alert('Error')
                    }
                })
                //Disable load more if laoding last page
                if (articleCount + parseInt(@ViewBag.pageSize) >= parseInt(@ViewBag.ArticleCount)) {
                    $("#btnLoadMore").prop('disabled', true);
                    $("#btnLoadMore").html('You have reached the end');
                }
            })
        })
    </script>
}

@if (TempData.Keys.Contains("message"))
{
    <div class="row justify-content-center">
        <h4 class="bg-success m-0 p-3 text-center">@TempData["message"]</h4>
    </div>
}

<input type="hidden" id="filter" value="@(this.ViewContext.RouteData.Values["FilterCategory"] ?? "all")" />

@foreach (var post in Model.Posts)
{
    //Any html/css changes made here must also be made on the ajax call
    <article class="border p-3 m-0 mt-3 rounded-1">
        <div class="row justify-content-center">
            <h2 class="text-center fw-bold"><a asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">@post.Title</a></h2>
        </div>
        <div class="row justify-content-center">
            <span class="text-center fw-lighter text-muted">@post.CreatedDate.ToShortDateString() ||
                <a asp-action="Index" asp-controller="Home" asp-route-FilterCategory="@post.Category.Name">@post.Category.Name</a></span>
        </div>
        <div class="justify-content-center">
            @Html.Raw(Markdig.Markdown.ToHtml(post.Content ?? "Error reading post content: View"))
        </div>
    </article>
}
<span id="testload"></span>
<button id="btnLoadMore">Load More</button>
