@model BlogViewModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "CM Microblog";
}

<div class="row  justify-content-center">
    <div class="col-6 text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 d-flex justify-content-around">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary mb-3">Admin</a>
        <a asp-controller="BlogPost" asp-action="Add" class="btn btn-primary mb-3">Add Post</a>
    </div>
</div>

@if (TempData.Keys.Contains("message"))
{
    <div class="row justify-content-center">
        <h4 class="col-6 bg-success p-3 text-center">@TempData["message"]</h4>
    </div>
}

@foreach (var post in Model.Posts)
{
    <article class="container border col-6 p-3">
        <div class="row justify-content-center">
            <h2 class="text-center fw-bold"><a asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">@post.Title</a></h2>
        </div>
        <div class="row justify-content-center">
            <span class="text-center fw-lighter text-muted">@post.CreatedDate ||
                @*<a asp-action="Index" asp-controller="Home" asp-route-categoryFilter="@post.Category.Name">@post.Category.Name</a></span>*@
                @post.Category.Name</span>
        </div>
        <div class="row justify-content-center">
            <p class="text-start">@post.Content</p>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex justify-content-end ">
                <a asp-action="Edit" asp-controller="BlogPost" asp-route-id="@post.Id" class="btn btn-primary mb-2">Edit</a>
                <a asp-action="Delete" asp-controller="BlogPost" asp-route-id="@post.Id" class="btn btn-primary mb-2 ms-2">Delete</a>
            </div>
        </div>
    </article>
}
