@model BlogViewModel
@{
    ViewData["Title"] = "Microblog Home";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function (){
            $("#btnLoadMore").on('click', function(){
                var articleCount = $("article").length;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("LoadMore")',
                    data: {
                        filter : $("#filter").val(),
                        startLoad : articleCount
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response){
                        var addedPosts = '';
                        for (var i = 0; i < response.length; i++){
                            var date = new Date(Date.parse(response[i].createdDate));
                            addedPosts += '<article class="m-0 mb-5">'
                                + '<div class="row m-0">'
                                + '<h2 class="col col-md-10 fw-bold ps-0 mb-3 order-md-2 ms-3 ms-md-0">'
                                + '<a class="link-custom" href="/post/' + response[i].id + '"/>' + response[i].title + '</a></h2>'
                                + '<div class="col-2 col-md-2 pe-3 ps-0 mb-3 order-md-1">'
                                + '<div class="h-100 d-flex align-items-center justify-content-center">'
                                + '<span class="text-white-50">'
                                + date.toLocaleDateString('en-US')
                                + '</span></div></div></div>'
                                + '<div class="row justify-content-end m-0">'
                                + '<a class="col col-md-10 blogPreview rounded-2 m-0 px-3 pt-3 text-decoration-none text-white" href="/post/' + response[i].id + '"/>'
                                + '<div>' + response[i].content + '</div></a></div></article>'
                        }
                        $(addedPosts).insertBefore("#loadBreak")
                    },
                    error: function(){
                        alert('Error')
                    }
                })
                //Disable load more if laoding last page
                if (articleCount + parseInt(@ViewBag.pageSize) >= parseInt(@ViewBag.ArticleCount)) {
                    $("#btnLoadMore").removeClass("link-custom btn-custom btn-custom-primary");
                    $("#btnLoadMore").addClass("disabled")
                    $("#btnLoadMore").html('You have reached the end');
                }
            })
        })
    </script>
}

@if (TempData.Keys.Contains("message"))
{
    <div class="row justify-content-center">
        <h4 class="bg-success m-0 p-3 text-center">@TempData["message"]</h4>
    </div>
}

<input type="hidden" id="filter" value="@(this.ViewContext.RouteData.Values["FilterCategory"] ?? "all")" />

@foreach (var post in Model.Posts)
{
    //Any html/css changes made here must also be made on the ajax call
    <article class="m-0 mb-5">
        <div class="row m-0">
            <h2 class="col col-md-10 fw-bold ps-0 mb-3 order-md-2 ms-3 ms-md-0"><a class="link-custom" asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">@post.Title</a></h2>
            <div class="col-2 col-md-2 pe-3 ps-0 mb-3 order-md-1">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <span class="text-white-50">@post.CreatedDate.ToShortDateString()</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-end m-0">
            <a class="col col-md-10 blogPreview rounded-2 m-0 px-3 pt-3 text-decoration-none text-white" asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">
                <div>
                    @Html.Raw(Markdig.Markdown.ToHtml(post.Content ?? "Error reading post content: View"))
                </div>
            </a>
        </div>
    </article>
}
<span id="loadBreak"></span>
@*///Load more feature currently disabled until we can figure out how to keep posts in memory when hitting back button.
<div class="row m-0 mb-3">
    <a class="btn btn-custom btn-custom-primary link-custom col-10 offset-1 offset-md-2" id="btnLoadMore">Load More</a>
</div>*@
