@model BlogViewModel
@{
    ViewData["Title"] = "Microblog Home";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function (){
            $("#btnLoadMore").on('click', function(){
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("LoadMore")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response){
                        $("#testload").text(response)
                    },
                    error: function(){
                        alert('Error')
                    }
                })
            })
        })
    </script>
}

<div class="row justify-content-center m-0 p-0">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

@if (TempData.Keys.Contains("message"))
{
    <div class="row justify-content-center">
        <h4 class="bg-success m-0 p-3 text-center">@TempData["message"]</h4>
    </div>
}

@foreach (var post in Model.Posts)
{
    <article class="border p-3 m-0">
        <div class="row justify-content-center">
            <h2 class="text-center fw-bold"><a asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">@post.Title</a></h2>
        </div>
        <div class="row justify-content-center">
            <span class="text-center fw-lighter text-muted">@post.CreatedDate ||
                <a asp-action="Index" asp-controller="Home" asp-route-FilterCategory="@post.Category.Name">@post.Category.Name</a></span>
        </div>
        <div class="row justify-content-center">
            <p class="text-start">@post.Content</p>
        </div>
    </article>
}
<span id="testload"></span>
<button id="btnLoadMore">Load More</button>
