@model BlogViewModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "CM Microblog";
}
@*TODO custom style blog with, bootstrap not the best solution for this*@
<Section>
    <h1>@ViewData["Title"]</h1>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary">Admin</a>
    <a asp-controller="BlogPost" asp-action="Add" class="btn btn-primary">Add Post</a>
    @*LEFTOFF build and style index. list posts*@
    @foreach (var post in Model.Posts)
    {
        <article class="border">
            <h2><a asp-action="Index" asp-controller="BlogPost" asp-route-id="@post.Id">@post.Title</a></h2>
            <span>@post.CreatedDate || @post.Category.Name</span>
            <p>@post.Content</p>
            <a asp-action="Edit" asp-controller="BlogPost"
            asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-controller="BlogPost"
            asp-route-id="@post.Id" class="btn btn-primary">Delete</a>
        </article>
    }
</Section>
