@model BlogPost
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@{
    ViewData["Title"] = "Single Post View";
}
@if (TempData.Keys.Contains("message"))
{
    <div class="row justify-content-center m-0">
        <h4 class="bg-success m-0 p-3 text-center">@TempData["message"]</h4>
    </div>
}
<section class="container border">
    <h1 class="row justify-content-center">@Model.Title</h1>
    <p class="row justify-content-center">@Model.CreatedDate || @(Model.Category is null ? "Uncategorized" : Model.Category.Name)</p>
    <div class="justify-content-center p-3">@Html.Raw(Markdig.Markdown.ToHtml(Model.Content ?? "Error reading post content: View"))</div>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-area="Admin" asp-action="Edit" asp-controller="BlogPost" asp-route-id="@Model.Id" class="btn btn-primary mb-2">Edit</a>
        <a asp-area="Admin" asp-action="Delete" asp-controller="BlogPost" asp-route-id="@Model.Id" class="btn btn-primary mb-2 ms-2">Delete</a>
    }
</section>

