@model BlogPost
@{
    ViewData["Title"] = $"{ViewBag.Action} Post:";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<section class="blogPreview p-3 rounded-2">
    <div class="row">
        <h1 class="col">@ViewData["Title"]</h1>
    </div>
    <form class="row" asp-action="Edit" method="post">
        <div class="mb-3">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Content" class="form-label">Content</label>
            <textarea asp-for="Content" class="form-control" rows="20"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" class="form-select">
                <option value="">Select a category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="UpdatedDate" />
        <div class="row m-0">
            <button type="submit" class="btn btn-custom btn-custom-primary link-custom mb-3">@(ViewBag.Action == "Edit" ? "Save" : "Post")</button>
            @if (ViewBag.Action == "Edit")
            {
                <a asp-controller="BlogPost" asp-action="Index" asp-area="" asp-route-id="@Model.Id" class="btn btn-custom btn-outline-primary link-custom mb-3">Cancel</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" class="btn btn-custom btn-outline-primary link-custom mb-3">Cancel</a>
            }
        </div>
    </form>
</section>
